# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
C/CMakeFiles/cmake.check_cache
C/CMakeFiles/CMakeDirectoryInformation.cmake
C/CMakeFiles/CMakeOutput.log
C/CMakeFiles/feature_tests.bin
C/CMakeFiles/feature_tests.c
C/CMakeFiles/feature_tests.cxx
C/CMakeFiles/Makefile.cmake
C/CMakeFiles/Makefile2
C/CMakeFiles/progress.marks
C/CMakeFiles/TargetDirectories.txt
C/CMakeFiles/3.13.4/CMakeCCompiler.cmake
C/CMakeFiles/3.13.4/CMakeCXXCompiler.cmake
C/CMakeFiles/3.13.4/CMakeDetermineCompilerABI_C.bin
C/CMakeFiles/3.13.4/CMakeDetermineCompilerABI_CXX.bin
C/CMakeFiles/3.13.4/CMakeSystem.cmake
C/CMakeFiles/3.13.4/CompilerIdC/CMakeCCompilerId.c
C/CMakeFiles/3.13.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
C/CMakeFiles/TwitterBot.dir/build.make
C/CMakeFiles/TwitterBot.dir/cmake_clean.cmake
C/CMakeFiles/TwitterBot.dir/depend.make
C/CMakeFiles/TwitterBot.dir/DependInfo.cmake
C/CMakeFiles/TwitterBot.dir/flags.make
C/CMakeFiles/TwitterBot.dir/link.txt
C/CMakeFiles/TwitterBot.dir/progress.make
C/cmake_install.cmake
C/Makefile
C/CMakeCache.txt
C/TwitterBot
C/CMakeFiles/TwitterBot.dir/C.includecache
C/CMakeFiles/TwitterBot.dir/depend.internal
C/20191208.feed
C/build/cmake_install.cmake
C/build/CMakeCache.txt
C/build/compile_commands.json
C/build/Makefile
C/build/CMakeFiles/cmake.check_cache
C/build/CMakeFiles/CMakeDirectoryInformation.cmake
C/build/CMakeFiles/CMakeOutput.log
C/build/CMakeFiles/feature_tests.bin
C/build/CMakeFiles/feature_tests.c
C/build/CMakeFiles/feature_tests.cxx
C/build/CMakeFiles/Makefile.cmake
C/build/CMakeFiles/Makefile2
C/build/CMakeFiles/progress.marks
C/build/CMakeFiles/TargetDirectories.txt
C/build/CMakeFiles/3.13.4/CMakeCCompiler.cmake
C/build/CMakeFiles/3.13.4/CMakeCXXCompiler.cmake
C/build/CMakeFiles/3.13.4/CMakeDetermineCompilerABI_C.bin
C/build/CMakeFiles/3.13.4/CMakeDetermineCompilerABI_CXX.bin
C/build/CMakeFiles/3.13.4/CMakeSystem.cmake
C/build/CMakeFiles/3.13.4/CompilerIdC/CMakeCCompilerId.c
C/build/CMakeFiles/3.13.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
C/build/CMakeFiles/TwitterBot.dir/build.make
C/build/CMakeFiles/TwitterBot.dir/cmake_clean.cmake
C/build/CMakeFiles/TwitterBot.dir/depend.make
C/build/CMakeFiles/TwitterBot.dir/DependInfo.cmake
C/build/CMakeFiles/TwitterBot.dir/flags.make
C/build/CMakeFiles/TwitterBot.dir/link.txt
C/build/CMakeFiles/TwitterBot.dir/progress.make
C/.vscode/settings.json
C/CONFIG.SYS
